@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@import 'theme';
@import 'utility';

body {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
}

// __________________________________________<header>_________________________________________________

.header {
    @include flex-align(space-between, center);
    padding: 26px 18px;
    background: $white;
    text-decoration: none;
}

.header__nav {
    @include flex-align(flex-end, center);
}

.header__nav-menu {
    position: relative;
    order: 1;
    z-index: 2;

    @media (max-width: $pc) {
        .header__nav-links {
            background: $white;
            display: none;
            position: absolute;
            top: 40px;
            right: 0;
            border: 1px solid $border-color;
            border-radius: 5px;
        }

        &:focus,
        &:focus-within {
            .header__nav-links {
                @include flex-align;
                flex-direction: column;
            }
        }
    }
}

.header__burger-menu {
    width: 32px;
    height: 32px;
    margin-left: 48px;
    cursor: pointer;
}

.header__nav-link {
    width: 100%;
    padding: 15px 16px 14px;
    font-size: $text-size;
    font-weight: 600;
    text-align: center;

    &:hover {
        border-bottom: 1px solid $border-color;
    }
}

.header__right-corner-wrapper {
    display: none;
    margin-left: 100px;

    .header__nav-link {
        margin-right: 6px;
    }
}

.header__right-corner-button {
    background: $yellow;
    border-radius: $border-radius;
    padding: 15px 22px 14px;
    white-space: nowrap;
    font-weight: 600;
    transition: background-color 300ms ease-in-out;

    &:hover {
        background-color: $main-grey;
    }
}

@media (min-width: $tablet) {
    .header__right-corner-wrapper {
        @include flex-align(space-between, center)
    }
}

@media (min-width: $pc) {
    .header__nav-menu {
        order: 0;
    }

    .header__burger-menu {
        display: none;
    }
}

// __________________________________________</header>_________________________________________________