// responsive 

$phone: 375px;
$tablet: 768px;
$pc: 1024px;

// colors 

$text-color: #1f373d;
$white: #fff;
$bg: #f6f5f4;
$yellow: #ffcc01;
$main-grey: #96bece;
$grey: #919eb1;

// text 

$text-size: 13px;
$text-spacing: -1px;

// border

$border-radius: 5px;
$border-color: #1f373d;

// margin

$phone-margin: 44px;
$pc-margin: 144px;