body {
    background: rgb(50, 50, 50);
    margin: 0;
    font-family: "Roboto", sans-serif;
}

div {
    width: 50px;
    height: 50px;
    font-size: 16px;
}

.pirmas {
    background: rgb(39, 112, 24);
}

.antras {
    background: rgb(221, 0, 0);
}

.trecias {
    background: rgb(255, 206, 0);
}

.pilkas {
    background: grey;
}