@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@use 'theme';
@use 'utility';

body {
    font-family: 'Montserrat', sans-serif;
    color: #1f373d;
}

// <header>

.header {
    @include flex-align(space-between, center);
    padding: 26px 18px;
    background: #fff;
}

.header__nav {
    @include flex-align(flex-end, center);
}

.header__nav-menu {
    position: relative;
    order: 1;
    z-index: 2;

    @media (max-width: 1024px) {
        .header__nav-links {
            background: #fff;
            display: none;
            position: absolute;
            top: 40px;
            right: 0;
            border: 1px solid #1f373d;
            border-radius: 5px;
        }

        &:focus,
        &:focus-within {
            .header__nav-links {
                @include flex-align;
                flex-direction: column;
            }
        }
    }
}

.header__burger-menu {
    width: 32px;
    height: 32px;
    margin-left: 48px;
    cursor: pointer;
}

.header__nav-link {
    width: 100%;
    padding: 15px 16px 14px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;

    &:hover {
        border-bottom: 1px solid #1f373d;
    }
}

.header__corner-wrapper {
    display: none;
    margin-left: 100px;

    .header__nav-link {
        margin-right: 6px;
    }
}

.header__corner-button {
    background: #ffcc01;
    border-radius: 3px;
    padding: 15px 22px 14px;
    white-space: nowrap;
    font-weight: 600;

@media (min-width: 768px) {
    .header__corner-wrapper {
        @include flex-align(space-between, center)
    }
}

@media (min-width: 1024px) {
    .header__nav-menu {
        order: 0;
    }

    .header__burger-menu {
        display: none;
    }
}
}