@use 'theme';

@mixin flex-align($x: center, $y: center) {
    display: flex;
    justify-content: $x;
    align-items: $y;
}

.container {
    max-width: 1180px;
    margin: auto;
}

.logo {
    font-size: 13px;
    font-weight: 600;
    color: #1f373d;
}