body {
    background: #202020;
}

div {
    padding-left: 5px;
    font-size: 24px;
}

.js {
    color: #f0db4f;
}
.scss {
    color: #c69;
}
.css {
    color: #2965f1;
}

.html {
    color: #f06529;
}

.github {
    color: #707070;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: inherit;
}

a:hover {
    filter: brightness(150%);
    border-bottom: 1px solid;
}